.username_form {
  margin: 28px 0px;
  padding: 0px 14px;
  box-sizing: border-box;
}

.username_label {
  font-size: 13px;
  color: #dcddde;
}

.username_input {
  width: 100%;
  line-height: 22px;
  font-size: 13px;
  box-sizing: border-box;
  display: flex;
  border: 0px;
  padding: 7px;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.username_button {
  width: 100%;
  background-color: #111;
  color: #fff;
  border: none;
  margin: 4px 0px;
  padding: 7px;
  cursor: pointer;
  transition: .3s ease-out;
  font-size: 13px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  line-height: 22px;
}
.username_button:hover {
 background-color: #000;
}

@media screen and (max-width: 768px){
  .current_username__container {
    position: absolute;
    right: 0px;
    top:0px;
    max-width:50%;
  }
  .username_label {
    display: none;
  }
  .username_form {
    margin: 0px;
  }
  .username_bottom {
    display: flex;
    padding: 12px 0px;
  }
  .username_button {
    background-color: #ddd;
    color: #000;
    margin: 0px;
  }
}