.navbar_wrapper {
  width: 60px;
  height: 100vh;
  background-color: #000;
  position: fixed;
  right: 0px;
  top: 0px;
  color: #666;
  font-size: 24px;
}
.navbar_wrapper a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}
.navbar_option {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0px 0px 0px;
}